config CUSTOM_ANIME_DISPLAY
    bool "Custom anime OLED status screen"
    default y if ZMK_DISPLAY
    select LV_USE_IMG
    select LV_USE_LABEL
    select LV_FONT_MONTSERRAT_12

if CUSTOM_ANIME_DISPLAY

config ZMK_WIDGET_OUTPUT_STATUS
    default y if ZMK_DISPLAY && SHIELD_CORNE_RIGHT && (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)

config ZMK_WIDGET_LAYER_STATUS
    default y if ZMK_DISPLAY && SHIELD_CORNE_RIGHT && (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)

config ZMK_WIDGET_PERIPHERAL_STATUS
    default y if ZMK_DISPLAY && SHIELD_CORNE_RIGHT && BT && ZMK_SPLIT_BLE && !ZMK_SPLIT_ROLE_CENTRAL

endif # CUSTOM_ANIME_DISPLAY
